/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/

$vihreat-green: #76b72a;

@media screen and (min-width: 768px) {
  .header-wrap {
    a.site-logo-link { position: absolute; right: 0; padding: 14px 0 20px 10px; }
    .search-form-top { margin-right: -20px; }
  }
  .header-search-icon { right: -20px; }
  .main-navigation {
    margin-right: 220px;
  }
}

.header-wrap { background-color: $vihreat-green; color: white; padding: 0; border: 0; }

.site-title { padding-top: 14px; font-size: 28px; font-weight: bold; text-transform: uppercase; }

.main-navigation {
  .menu-item a { color: white; }
}

.main-navigation ul li.current-menu-item, .main-navigation ul li.current-menu-parent , .main-navigation ul li.current_page_ancestor {
  background-color: $vihreat-green;
  a { background-color: $vihreat-green; color: white; text-decoration: underline; }
  > a::after { color: white; }

  ul.sub-menu a {
    background-color: $vihreat-green; color: white; text-decoration: none;
    &:hover { color: black; }
  }

  ul.sub-menu li.current-menu-item a { text-decoration: underline; }
}

.main-navigation ul li ul li.current-menu-item a { background-color: $vihreat-green; color: white; text-decoration: underline; }

.main-navigation li.menu-item-has-children > a::after { background-color: $vihreat-green; color: white; }

.main-navigation ul ul.sub-menu a { background-color: $vihreat-green; color: white; }

.main-navigation a:hover { background-color: $vihreat-green; color: white; }

#site-navigation.main-small-navigation a { color: $vihreat-green; }

#site-navigation.main-small-navigation ul li.menu-item {
  &:hover > a { color: white; background-color: $vihreat-green; }
  a { color: $vihreat-green; &:hover { color: white; background-color: $vihreat-green; } }
  ul.sub-menu li {
    a { color: black; }
    &.current-menu-item { a { text-decoration: underline } }
  }

  &.current-menu-item a, &.current_page_item a { background-color: $vihreat-green; color: white; text-decoration: underline;
    ul.sub-menu li {
      a { text-decoration: none; }
      &.current-menu-item a { text-decoration: underline; }
    }
  }
  &.current-menu-item ul.sub-menu a { background-color: white; color: black; }
}

